body {
  background-color: powderblue;
   text-align: center;
   margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h3 {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  font-family: verdana;
   padding: 20px;
}

#map { 
  height: 400px; 
  width: 100%;
  border: 1px solid #ccc;
}

.main-btn {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 1000;
    padding: 8px 12px;
    cursor: pointer;
    background: rgb(127, 231, 167);
    border: 1px solid #ccc;
}